@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ::-moz-selection {
  background: #101d42;
  color: #fff;
}

* ::selection {
  background: #101d42;
  color: #fff;
}

body {
  background-color: #101d42;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  position: relative;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: calc(100vh - 20px);
  margin: 20px 0 0 0;
  color: #fff;
  z-index: 2;
}

.container .profile-picture {
  width: 104px;
  height: 104px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid #101d42;
}

.container > h2 {
  margin: 0;
  font-size: 18px;
}

.container .subtitle {
  font-size: 14px;
  color: #e3e3e3;
}

.container .info-container {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 0 0;
  margin-top: 40px;
}

.container .info-container .content {
  width: 100%;
  height: 100%;
  padding: 50px 30px 20px;
  color: #101d42;
}

.container .info-container .content > h3 {
  text-align: center;
  padding-bottom: 25px;
}

.container .info-container .content .link {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: 100%;
  height: 45px;
  align-items: center;
  border: 1px solid #101d42;
  border-radius: 16px;
  text-decoration: none;
  color: #101d42;
  cursor: pointer;
  box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
  transition: 0.3s ease;
}

.abc {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  padding: 20px;
  width: 40%;
  height: 45px;
  align-items: center;
  border: 1px solid #101d42;
  border-radius: 16px;
  text-decoration: none;
  color: #101d42;
  cursor: pointer;
  box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
  transition: 0.3s ease;
}
.abc:hover {
  transform: scale(1.01);
}
.container .info-container .content .link:hover {
  transform: scale(1.01);
}

.container .info-container .content .link > ion-icon {
  margin-right: 15px;
}

.container .info-container .content .link.highlight {
  background: #101d42;
  border: 1px solid #101d42;
  color: #fff;
  font-weight: bold;
  transition: 0.3s ease;
}

.container .info-container .content .link.highlight:hover {
  transform: scale(1.01);
}

.container .info-container .content .link.highlight > ion-icon {
  margin-right: 15px;
}

.checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  
}
.checkbox > input[type="checkbox"]{
  margin:0.8rem;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.container .profile-picture {
  width: 104px;
  height: 104px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid #101d42;
}

ul {
  padding: 0.8rem 2rem;
}